@import url("./assets/styles/reset.css");
@import url("./assets/styles/fonts.css");
@import url("./assets/styles/form-view.css");

:root {
  --marine-blue: #1a2e4d;
  --purplish-blue: #7f3f8c;
  --pastel-blue: #d5e2f3;
  --light-blue: #e3f3f8;
  --strawberry-red: #e54a3d;

  --cool-gray: #a1b2c2;
  --light-gray: #e3e8ef;
  --magnolia: #f4fbfe;
  --alabaster: #fcfcfe;
  --white: #ffffff;
}

body {
  font-family: "Ubuntu", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--magnolia);
}

/* Bootstrap  */
.form-check-input {
  background-color: #1a2e4d !important;
  background-image: url("./assets/images/switch.svg") !important;
  cursor: pointer;
}

@media (max-width: 1280px) {
  body {
    height: unset;
    overflow: hidden;
  }
}