.stepper_form {
  width: 60vw;
  background-color: var(--white);
  display: flex;
  padding: 1rem;
}
.step_form__navigation {
  background-image: url("../images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  height: 80vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 30%;
  border-radius: 12px;
}
.form_stepper {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
}
.form_stepper__step {
  width: 30px;
  height: 30px;
  border: 1px solid var(--white);
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: var(--white);
  cursor: pointer;
}
.form_stepper__info {
  text-transform: uppercase;
}
.form_stepper__info p:first-child {
  color: var(--cool-gray);
  margin-bottom: 5px;
  font-size: 13px;
}
.form_stepper__info p:last-child {
  color: var(--white);
  font-size: 0.8rem;
  text-wrap: nowrap;
}
.form_stepper.active .form_stepper__step {
  background-color: var(--light-blue);
  color: black;
  border: 1px solid none;
}
.stepper_form--form_view {
  padding: 2rem;
}

@media (max-width: 1280px) {
  .stepper_form {
    flex-direction: column;
    background-image: url("../images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    width: unset;
    padding: unset;
  }
  .step_form__navigation {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background: none;
    height: auto;
    padding: 1rem;
    width: 54%;
    margin: auto;
  }
  .form_stepper__info {
    display: none;
  }
  .form_stepper {
    gap: unset;
    padding: unset;
  }
  .stepper_form--form_view {
    width: 80%;
    margin: 1rem auto;
    background: white;
    padding: 1rem;
    border-radius: 12px;
  }
}
